.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #8f8181;
}

.logo {
    font-family: "Courier New", serif;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    padding: 0 20px;
    cursor: pointer;
}

select {
    background: #8f8181;
    border: thin solid #efefef;
    border-radius: 5px;
    color: #efefef;
    display: inline-block;
    font-family: "Courier New", serif;
    font-size: 20px;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    margin-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.minimal {
    background-image:
            linear-gradient(45deg, transparent 50%, #efefef 50%),
            linear-gradient(135deg, #efefef 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 26px) calc(1em + 2px),
            calc(100% - 21px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image:
            linear-gradient(45deg, #efefef 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, #efefef 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 21px) 1em,
            calc(100% - 26px) 1em,
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
    border-color: #efefef;
    outline: 0;
}